/* Variables, replace it if you want different colors */
:root
{
    --primary: #283593;
    --primary-foreground: white;
    --secondary: white; 
    --secondary-foreground: black;

    --xl-font-size: 50px;
    --l-font-size: 30px;
    --m-font-size: 25px;
    --xs-font-size: 20px;
}

/* Font type setter */
body
{ 
    font-family: Montserrat; 
}

/* Font size setters */
h1{ font-size: var(--xl-font-size); }
h2{ font-size: var(--l-font-size); }
h3{ font-size: var(--m-font-size); font-weight: bold; }
address, a, i, p, li
{ font-size: var(--m-font-size); }

/* Bootstrap Overrides */
.bg-primary{ background-color: var(--primary) !important; }
.text-primary-foreground{ color: var(--primary-foreground) !important; }
.bg-secondary{ background-color: var(--secondary) !important; }
.text-secondary-foreground{ color: var(--secondary-foreground) !important; }

/* Sections */
#sections-container
{
    background: var(--secondary);
    color: var(--secondary-foreground);
}

.icon-container
{
    break-inside: avoid;
}
.icon
{
    background-color: var(--primary);
    color: var(--primary-foreground);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    border-radius: 50%;
    margin-right: 10px;
}

.list
{
    padding-left: 35px;
}
.list li::marker
{
    color: var(--primary);
    font-size: 1.5rem;
}

section
{
    padding: 30px 0 0 0;
}

li
{
    margin-bottom: 4mm;
}

/* Personal Info */
.contact-link
{ 
    font-size: var(--xs-font-size); 
    text-decoration: underline;
    color: var(--primary-foreground);
}
.contact-link:hover
{
    color: var(--primary-foreground);
}

/* Page size */
#toPdf
{
    width: 1240px;
}

#indexContainer
{
    min-height: 100vh;
}

@page
{
    margin: 0.75cm 0 0.75cm 0;
}

/* Auxiliar */
.align-middle-inline
{
    display: flex;
    flex-flow: row;
    align-items: center;
}