<%- include('../partials/header') %>

<script type="text/javascript">
const origin = window.location.origin

$.getJSON(origin + '/languages', (data) => {
        data.forEach(language => {
            $('#languages').append(
                `<a class="m-1 btn btn-primary" href="${origin}/${language}">${language}</a>`
            )
        })
    })
</script>

<div id="indexContainer" class="container py-2">
    <h1>Languages</h1>
    <hr>
    <div id="languages">
    </div>
    <br><br>
    <h2><b>Tips</b></h2>
    <ol>
        <li>If you are saving the pdf with the print dialog, you may want to remove the first page top margin.
        To do this, you can use <a href="https://www.sejda.com/en/crop-pdf" target="_blank">this</a> tool to crop the first page.</li>
        <li>If you want to make a single resume file with multiple languages, you can use 
        <a href="https://pdfjoiner.com/" target="_blank">this</a> tool to join pdfs.</li>
    </ol>
</div>

<%- include('../partials/footer') %>